{% extends 'base.html' %}

プロフィール

{% block content %}
<div class = "ui grid">
		<div class = "row">
				<div class ="four wide column">
				{{object}}
				<hr>

				{% if follow %}
						<form action = "" method="PSOT">
								{% csrf_token %}
								<input type = "hidden" name = "profile_pk" value={{object.pk}}>
								<button type ="submit" class = "ui negative button">フォローする</button>
						</form>
				{% else %}
						<button id="follwo-btn" class = "ui positive button">フォローしない</button>
				{% endif %}
				</div>
				<div class="container">
					{% for item in object_list %}
					<div class="alert alert-success" role="alert">
							<p>タイトル :<a href="{% url 'detail' item.pk %}"> {{ item.title }}></a></p>
							<p>投稿者 : {{ item.author }}</p>
						
			
							<a href="#" class="btn btn-secondary disabled"  role="button" aria-pressed="true">いいね　{{ item.read }}</a>
					</div>
					{% endfor %}
		</div>
</div>
{% endblock content %}